:root{
    --heightDetailPoster: 20vw;
    --widthActorCard: clamp(8rem,8rem + 0.5vw,12rem);
    --PI: 3.14159265358979; 
    --rCricleRate: clamp(1rem, 1rem + 0.5vw ,1.5rem);
    --strokeWCricleRate: clamp(0.2rem , 0.2rem + 0.5vw, 0.4rem);
    --voteRate:10;
}
.detail{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.backPage{
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
}
.detail__backdrop{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}
.detail__backdrop::after{
    width: 100%;
    height: 100%;  
    background: linear-gradient(to top,var(--colorBgBody) 5%,transparent 30% );
    background-color: var(--colorBgDetail);
    position: absolute;
    top:0;
    left: 0;
    content: "";
    z-index: 1;
}
.detail__backdrop img{
    width: 100%;
    height: 100%;
}
.detail__content{
    width: 80%;
    height: fit-content;
    z-index: 1;
    margin: 2vh 0 3rem 0;
}
.detail__header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    margin: 0 0 2rem 0;
    position: relative;
    z-index: 1;
    border-bottom: 0.05rem solid var(--colorBorderSearch);
}
.detail__header h3{
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
}
.detail__actions{  
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 0 5%;
    align-items: center;
}

.detail__button{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 0.2rem 0;
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1.1rem);
    font-weight: 600;
    float: right;
    border: none;
    margin: 0 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out,background-color 0.15s ease-in-out,color 0.15s ease-in-out;
}

.detail__button--share{
    color: rgb(242, 242, 242) !important;
    background-color: var(--colorRed);
}
.detail__button--share:hover{
    box-shadow: 0 0 1rem var(--colorRed);
}
.detail__button--share i{
    color: rgb(242, 242, 242);
    font-size: clamp(0.8rem,0.8rem + 0.5vw,1rem);
    padding: 0 clamp(0.05rem, 0.05rem + 1vw, 0.2rem) 0 0;
}

.detail__button--favorite:hover{
    box-shadow: 0 0 1rem #b1b1b1;
}
.detail__button--favorite i{
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
    padding: 0 clamp(0.05rem, 0.05rem + 1vw, 0.2rem) 0 0;
    transition: all 0.15s ease-in-out;
}
.detail__button--favorite.active{
    color: azure;
    background-color: var(--colorRed);
}
.detail__button--favorite.inactive{
    color: rgb(18, 18, 18);
    background-color: rgb(242, 242, 242);
}
.detail__button--favorite.active i{
    color: var(--colorRed);
    -webkit-text-stroke: 0.1rem #ffffff;
}
.detail__button--favorite.inactive i{
    color: transparent;
    -webkit-text-stroke: 0.1rem var(--colorRed);
}
.detail__main{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 25% 75%;
}
.detail__sidebar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.detail__poster {
    width: calc(var(--heightDetailPoster)*2/3);
    height: var(--heightDetailPoster);
    z-index: 1;
    filter: brightness(1.1) saturate(1.1) contrast(1.1);
    box-shadow: 0 0 1rem var(--colorBorderWhite);
}
.detail__rating-section{
    width: calc(var(--heightDetailPoster)*2/3);
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detail__rating-section p{
    margin: 0;
    font-size: clamp(0.6rem,0.6rem + 0.5vw,1.1rem);
    font-weight: 500;
}
.detail__rating-section p >span{
    font-size: clamp(0.6rem,0.6rem + 0.5vw,1.1rem);
    font-style: italic;
    color: var(--colorTextWhite);
}
.detail__rating-container{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.detail__rating-circle{
    transform: rotate(-90deg);
    width: calc((var(--rCricleRate) + var(--strokeWCricleRate))*2);
    height: calc((var(--rCricleRate) + var(--strokeWCricleRate))*2);
}
.detail__rating-circle-bg{
    cx: calc(var(--rCricleRate) + var(--strokeWCricleRate));
    cy: calc(var(--rCricleRate) + var(--strokeWCricleRate));
    r: var(--rCricleRate);
    stroke-width: var(--strokeWCricleRate);
    stroke: rgba(255, 255, 255, 0.5);
}
.detail__rating-circle-bar{
    cx: calc(var(--rCricleRate) + var(--strokeWCricleRate));
    cy: calc(var(--rCricleRate) + var(--strokeWCricleRate));
    r: var(--rCricleRate);
    stroke-width:var(--strokeWCricleRate);
    stroke:var(--colorRed);
    stroke-dasharray: calc(var(--rCricleRate) * var(--PI) * 2);
    stroke-dashoffset: calc((10 - var(--voteRate))*(var(--rCricleRate) * var(--PI) * 2)/10);
    transition: stroke-dashoffset 0.5s ease-in-out, stroke 0.5s ease-in-out ;
}
.detail__rating-text{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: clamp(0.5rem,0.5rem + 0.5vw,1.1rem);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__info{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2% 2%;
    z-index: 1;
    color: var(--colorTextWhite);
    font-weight: 500;
    background-color: var(--colorBgDetail);
    box-sizing: border-box;
}
.detail__title{
    font-size: clamp(1.2rem,1.2rem + 1vw,2rem);
    margin: 0 0 1rem 0;
}
.detail__genres{
    width: 100%;
    text-transform: uppercase;
}
.detail__genres span{
    font-size: clamp(0.7rem,0.7rem + 0.5vw,1rem);
    display: inline-block;
    padding:0 0.5rem;
    border-left: 0.05rem solid var(--colorTextGray);
}
.detail__genres span:nth-child(1){
    padding:0 0.5rem 0 0;
    border: none;
}
.detail__release-date span{
    color: var(--colorTextWhite);
    font-style: italic;
}

.detail__runtime span{
    color: var(--colorTextWhite);
    font-style: italic;
}
.detail__overview{
    width: 90%;
    z-index: 1;
}
.detail__overview p{
    color: var(--colorTextWhite);
    font-style: italic;
    margin-bottom: 0.2rem;
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
}
.detail__overview p>span{
    color: var(--colorRed);
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
    font-weight: 400;
    font-style: italic;
    
    margin-bottom: 0.2rem;
    margin: 0;
    display: inline;
}
.detail__trailer-section{
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 1;
    margin: 2rem 0 0 0;
}
.detail__trailer-section p{
    color: var(--colorTextWhite);
    font-style: italic;
    margin-bottom: 0.2rem;
}
.detail__trailer-section p >span{
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
    font-weight: 400;
    font-style: italic;
    color: var(--colorRed);
}
.detail__trailer-list-container{
    width: 100%;
    overflow-X: auto;
}
.detail__trailer-list-container::-webkit-scrollbar{
    display: none;
}
.detail__trailer-list{
    width: max-content;
    display: flex;
    flex-direction: row;
}
.detail__trailer-button{
    margin: 0 1rem 0 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: rgb(240, 240, 240) !important;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.detail__trailer-button i{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(240, 240, 240) !important;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
.detail__modal-close{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--colorTextWhite);
    position: absolute;
    top:5%;
    right:5%;
    border-radius: 50%;
    border: 0.1rem solid var(--colorTextWhite);
    background-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.detail__modal-close:hover{
    background-color: white;
    color: black;
}
.detail__modal{
    width: calc(100% - var(--widthNavBar));
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: var(--widthNavBar);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.detail__modal-content {
    position: relative;
    cursor: default;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}
.detail__modal--visible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail__modal--hidden{
    display: none;
}
.detail__cast{
    width: 100%;
}
.detail__cast p{
    margin: 2rem 0 1rem 2%;
    font-size: clamp(1rem,1rem + 0.5vw, 1.2rem);
}
.detail__cast-list{
    width: 98%;
    height: calc(var(--widthActorCard)*1.7);
    overflow-X: auto;
    overflow-y: hidden;
    margin: 1%;
    display: flex;
    align-items: center;
}
.detail__cast-list::-webkit-scrollbar{
    display: none;
}
.detail__cast-scroll{
    width: max-content;
    display: flex;
    flex-direction: row;
}
.detail__actor-card{
    width: var(--widthActorCard);
    height: calc(var(--widthActorCard)*1.65);
    margin: 0 0.5rem;
    background-color: var(--colorBgFooter);
    border-radius: 0.6rem;
    box-shadow: 0 0 0.5rem var(--colorShadowComment);
}
.detail__actor-card img{
    width: var(--widthActorCard);
    height: calc(var(--widthActorCard)*7/6);
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}
.detail__actor-card p{
    margin: 0;
    padding: 0.15rem 0.15rem;
}
.detail__actor-card > p:nth-child(2){
    font-size:  clamp(0.6rem,0.6rem + 0.5vw,0.9rem);
}
.detail__actor-card > p:nth-child(3){
    font-size:  clamp(0.5rem,0.5rem + 0.5vw,0.8rem);
    color: var(--colorBorderWhite);
}

.detail__comments{
    width: 96%;
    height: fit-content;
    padding: 2%;
}
.detail__comments p{
    margin: 2rem 0 1rem 0;
    font-size: clamp(1rem,1rem + 0.5vw, 1.2rem);
}
.detail__comment-card{
    margin: 1rem 0 0 0;
    padding: 2.5%;
    width: 95%;
    height: fit-content;
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--colorShadowComment);
}
.detail__comment-header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row ;
}
.detail__author-avatar{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(75, 75, 75);
}
.detail__author-avatar img{
    width: 3.5rem;
    height: 3.5rem;
}
.detail__author-info{
    width: calc(97% - 3.5rem);
    margin: 0 0 0 3%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.detail__author-info h3{
    margin: 0;
}
.detail__author-info span{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
}
.detail__author-info span > p{
    color: rgb(255, 215, 16);
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
    margin: 0 0.3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail__author-info p{
    margin: 0;
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
    color: var(--colorBorderWhite);
}
.detail__comment-content{
    font-size: clamp(0.75rem,0.75rem + 0.5vw, 0.9rem);
    width: 100%;
    padding: 1.2rem 0 0 0;
    color: var(--colorTextWhite);
}
.detail__comment-form{
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0 0 0;
}
.detail__comment-form textarea{
    box-sizing: border-box;
    width: 100%;
    height: 7rem;
    border-radius: 1.3rem;
    padding: 1rem 5.8rem 1rem 1rem;
    margin: 0;
    border: 0;
    font-size: clamp(0.8rem,0.8rem + 0.5vw,1rem);
    color: var(--colorTextWhite);
    background-color: var(--colorBgComment);
    overflow: hidden;
    transition: background-color 0.15s ease-in-out;
    resize: none;
    box-shadow: 0 0 1rem var(--colorShadowComment);
}
.detail__comment-form textarea:focus{
    outline: none;
    background-color: var(--colorBgCommentFocus);
}
.detail__comment-form textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.8rem,0.8rem + 0.5vw, 1rem);
}
.detail__comment-form button{
    padding: clamp(0.1rem,0.1rem + 0.5vw ,0.2rem) clamp(0.9rem,0.9rem + 0.5vw ,1rem) clamp(0.1rem,0.1rem + 0.5vw ,0.2rem) clamp(0.75rem,0.75rem + 0.5vw ,0.85rem);
    border: 0;
    border-radius: 2rem;
    background-color: var(--colorRed);
    color: rgb(242, 242, 242) !important;
    font-size: clamp(0.75rem,0.75rem + 0.5vw,1rem);
    font-weight: 600;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--colorRed);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.detail__comment-form button:hover{
    background-color: transparent;
    color: var(--colorRed);
}

.detail__empty{
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: var(--colorBgEmpty);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; 
}
.detail__empty h1{
    margin: 0;
    font-size: clamp(12rem,12rem + 0.5vw, 20rem);
    font-weight: 900;
    color: var(--colorTextEmpty);
    text-shadow:  clamp(0.4rem,0.5rem + 0.5vw, 0.8rem) clamp(0.4rem,0.5rem + 0.5vw, 0.8rem) clamp(0.4rem,0.5rem + 0.5vw, 0.8rem) var(--colorTextShadow);
}
.detail__empty i{
    font-size: clamp(10rem,10rem + 0.5vw, 15rem);
    padding: 0 0.4rem;
}
.detail__empty span{
    width: 100%;
    font-size: clamp(1rem,1rem + 0.5vw, 3rem);
    font-weight: 700;
    text-align: center;
    color: var(--colorTextEmpty);
    text-shadow:  clamp(0.1rem,0.1rem + 0.5vw, 0.3rem) clamp(0.1rem,0.1rem + 0.5vw, 0.3rem) clamp(0.1rem,0.1rem + 0.5vw, 0.3rem) var(--colorTextShadow);  
}
.detail__video{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px){
    :root{
        --heightDetailPoster: 20vw;
        --widthActorCard: clamp(7rem,7rem + 0.5vw,10rem);
        --rCricleRate: 1.5rem;
        --strokeWCricleRate: 0.4rem;
        --voteRate:10;
    }
    .detail__backdrop{
        height: clamp(70vh,70vh + 2vw,80vh);
    }
    .detail__header{
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 760px){
    :root{
        --heightDetailPoster: 80vw;
        --widthActorCard: clamp(8rem,8rem + 2vw,12rem);
        --rCricleRate: 1.5rem;
        --strokeWCricleRate: 0.4rem;
        --voteRate:10;
    }
    .detail__backdrop{
        height: clamp(50vh,50vh + 0.5vw,55vh);
    }
    .detail__main{
        grid-template-columns: 100%;
    }
    .detail__sidebar{
        margin: 8rem 0 0 0;
    }
    .detail__header{
        display: grid;
        grid-template-columns: 100%;
    }
    .detail__header h3{
        order: 2;
    }
    .detail__actions{ 
        order: 1;
        justify-items: center;
    }
    .detail__button--share{
        width: 8rem;
    }
    .detail__button--favorite{
        width: 8rem;
    }
    .detail__modal{
        width: 100%;
        top: 16vh;
        left: 0;
        height: 84vh;
    }
    .detail__modal-content {
        width: 95%;
        height: auto;
    }
    .detail__video{
        width: 100%;
        margin: 0 0 8rem 0;
    }
}
@media screen and (max-width: 480px){
    :root{
        --heightDetailPoster: 80vw;
        --widthActorCard: clamp(6.5rem,6.5rem + 0.5vw,9rem);
        --rCricleRate: 1.5rem;
        --strokeWCricleRate: 0.4rem;
        --voteRate:10;
    }
    .detail__backdrop{
        height: 35vh;
    }
}