:root{
    --widthButtonFilter: clamp(11rem,11rem + 1vw,13.5rem);
    --sizeTextSlider: clamp(0.8rem, 0.8rem + 0.5vw, 1rem);
}
.header{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--colorBgHeader);
    color: var(--colorTextWhite);
    border-bottom: 0.05rem solid var(--colorBorderSearch);
}
/* Header Overlay */
.header-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
.header-overlay--visible {
    display: block;
}
.header-overlay--hidden {
    display: none;
}

/* Header Container */
.header__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--widthNavBar) calc(100% - var(--widthNavBar));
}
/* Mobile Menu */
.header__mobile-menu {
    display: none;
    position: absolute;
    top: 0.5vh;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
}
.header__mobile-menu i {
    font-size: 1.5rem;
}
.header__mobile-menu-toggle {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 3vw;
    top: 4vh;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--colorTextWhite);
    cursor: pointer;
}
.header__mobile-navbar {
    width: clamp(16rem, 5vw, 30rem);
    background-color: var(--colorBgHeader);
    height: 84vh;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 15.5vh;
    display: block;
    padding: 0;
    margin: 0;
    border-top: 0.05rem solid var(--colorBorderSearch);
}
.header__mobile-navbar--visible {
    animation: show 0.1s ease-in-out forwards;
}
.header__mobile-navbar--hidden {
    animation: hidden 0.1s ease-in-out forwards;
}

/* Logo */
.header__logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo a {
    color: var(--colorTextWhite);
    text-decoration: none;
    width: fit-content;
    height: fit-content;    
}
.header__logo h1 {
    margin: 0;
    padding: 0
}
.header__container h1 > span:nth-child(2) {
    color: rgb(210, 44, 31);
}
/* Search Container */
.header__search-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: clamp(18rem, 3vw, 30rem);
    display: flex;
    align-items: center;
    position: relative;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.header__search-button {
    width: fit-content;
    height: fit-content;
    border: none;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTextWhite);
    background: none;
    cursor: pointer;
}
.header__search-input input {
    width: 100%;
    height: 1.8rem;
    border: 0.05rem solid var(--colorBorderSearch);
    border-radius: 0.5rem;
    padding: 0.2rem 0 0.2rem 3rem;
    background-color: var(--colorBgInputSearch);
    color: var(--colorTextWhite);
}
.header__filter-toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--colorTextWhite);
    cursor: pointer;
}
/* Filter Panel */
.header__filter-panel--visible {
    box-sizing: border-box;
    width: 30%;
    padding: 0 2% 0 2%;
    height: 90vh;
    background-color: var(--colorBgContainerSlider);
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: 5;
    border-top: 0.05rem solid var(--colorBorderSearch);
}
.header__filter-panel--hidden {
    display: none;
}
.header__filter-apply-btn {
    box-sizing: border-box;
    width: var(--widthButtonFilter);
    font-size: var(--sizeTextSlider);
    margin: 1rem 0 2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--colorRed);
    color: rgb(242, 242, 242) !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
/* Sort Section */
.header__sort-section {
    width: fit-content;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
}
.header__sort-section p {
    box-sizing: border-box;
    width: var(--widthButtonFilter);
    height: fit-content;
    font-size: var(--sizeTextSlider);
    margin: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    color: var(--colorTextWhite);
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header__sort-section p > .header__sort-direction {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    font-size: var(--sizeTextSlider);
    left: 0.5rem;
    top: 50%;
    background-color: var(--colorRed);
    color: rgb(245, 245, 245) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border: none;
}
.header__sort-clear {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.header__sort-clear--hidden {
    transform: translate(-40%,-50%) rotate(0deg);   
}
.header__sort-clear--visible {
    background-color: rgb(195, 65, 56);
    transform: translate(-40%,-50%) rotate(45deg);
    cursor: pointer;
}
.header__sort-direction--up {
    transform: translateY(-50%) rotate(-180deg);
}
.header__sort-direction--down {
    transform: translateY(-50%) rotate(0deg);
}
.header__sort-btn--active {
    background-color: var(--colorFocusSlider);
}
.header__sort-btn--inactive {
    background-color: var(--colorBgSlider);
}
.header__sort-list--visible {
    width: 100%;
    font-size: var(--sizeTextSlider);
    margin: 0;
    padding: 0.5rem 0;
    border-radius: 1rem;
    list-style-type: none;
    background-color: var(--colorBgSlider);
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__sort-list--hidden {
    display: none;
}
.header__sort-section ul {
    width: 90%; 
    margin: 0;
    list-style-type: none;
    padding: 0.5rem 0;
}
.header__sort-section li {
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    margin: 0.3rem 0.5rem;
    border-radius: 2rem;
    position: relative;
    transition: all 0.15s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.header__sort-option--selected {
    background-color: var(--colorRed);
    color: var(--colorTextWhite);
}
.header__sort-option--unselected {
    background-color: var(--colorBgListSlider);
    color: var(--colorTextWhite);
}
/* Genres Section */
.header__genres-section {
    width: 100%;
    height: fit-content;
    background-color: var(--colorBgSliderGenres);
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.header__genres-section p {
    box-sizing: border-box;
    width: var(--widthButtonFilter);
    font-size: var(--sizeTextSlider);
    margin: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    color: var(--colorTextWhite);
    font-weight: 600;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}
.header__genres-section p > span {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.header__genres-clear {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.header__genres-clear--hidden {
    transform: translate(-40%,-50%) rotate(0deg);
    opacity: 0;
}
.header__genres-clear--visible {
    background-color: rgb(195, 65, 56);
    transform: translate(-40%,-50%) rotate(45deg);
    cursor: pointer;
}
.header__genres-btn--active {
    background-color: var(--colorFocusSlider);
}
.header__genres-btn--inactive {
    background-color: var(--colorBgSlider);
}
.header__genres-list {
    width: 100%;
    overflow-X: auto;
}
.header__genres-list::-webkit-scrollbar {
    display: none;
}
.header__genres-list ul {
    width: max-content;
    margin: 0;
    padding: 0.5rem 0 0 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.header__genres-list li {
    width: clamp(10rem,10rem + 1vw,12.5rem);
    font-size: var(--sizeTextSlider);
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    margin: 0.3rem 0.5rem 0.3rem 0;
    border-radius: 2rem;
    position: relative;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    display: relative;
}
.header__genre-item--selected {
    background-color: var(--colorRed);
    color: var(--colorTextWhite);
}
.header__genre-item--unselected {
    background-color: var( --colorBgListSlider);
    color: var(--colorTextWhite);
}
.header__genres-list li > span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.header__genre-icon--selected {
    transform: translateY(-50%) rotate(45deg);
}
.header__genre-icon--unselected {
    transform: translateY(-50%) rotate(0deg);
}
/* Country Section */
.header__country-section {
    width: fit-content;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
}
.header__country-section p {
    box-sizing: border-box;
    width: var(--widthButtonFilter);
    font-size: var(--sizeTextSlider);
    margin: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    color: var(--colorTextWhite);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.header__country-clear {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.header__country-clear--hidden {
    transform: translate(-40%,-50%) rotate(0deg);
}
.header__country-clear--visible {
    background-color: rgb(195, 65, 56);
    transform: translate(-40%,-50%) rotate(45deg);
    cursor: pointer;
}
.header__country-btn--active {
    background-color: var(--colorFocusSlider);
}
.header__country-btn--inactive {
    background-color: var(--colorBgSlider)
}
.header__country-list {
    width: 100%;
    height: 10rem;
    font-size: var(--sizeTextSlider);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colorBgSlider);
    overflow-Y: auto;
    overscroll-behavior-inline: none;
}

.header__country-list::-webkit-scrollbar {
	display: none;
}
.header__country-section ul {
    width: 90%; 
    height: max-content;
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
}
.header__country-section li {
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    margin: 0.3rem 0.5rem;
    border-radius: 2rem;
    position: relative;
    transition: all 0.15s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.header__country-list--hidden {
    display: none;
}
.header__country-list--visible {
    width: 100%;
    height: 10rem;
    font-size: var(--sizeTextSlider);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colorBgSlider);
    overflow-Y: auto;
    overscroll-behavior-inline: none;
}
.header__country-option--selected {
    background-color: var(--colorRed);
    color:  var(--colorTextWhite);
}
.header__country-option--unselected {
    background-color: var( --colorBgListSlider);
    color: var(--colorTextWhite);
}
/* User Section */
.header__user-section {
    width: max-content;
    position: absolute;
    left: 90vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    z-index: 2;

}
.header__settings {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__language-dropdown {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 0 0.5rem 0 0;
}
.header__language-toggle {
    margin: 0;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.2rem);
    color: var(--colorTextWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0.5rem;
}
.header__language-menu--visible {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;  
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    list-style: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 1rem;
    z-index: 4;
    display: block;
    height: 10rem;
    overflow-y: auto;
    background-color: var(--colorBgDropNavbar); 
    overscroll-behavior: contain;
}
.header__language-menu--visible::-webkit-scrollbar {
    display: none;
}
.header__language-menu--hidden {
    display: none;
}
.header__language-menu--visible ul {
    width: max-content;
    height: max-content;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header__language-menu--visible li {
    width: 100%;
    padding: 0.1rem 0;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
    cursor: pointer;
}
.header__language-option--active {
    background-color: var(--colorRed);
}
.header__language-option--inactive {
    background-color: transparent;
}
.header__dark-mode {
    margin: 0 0.5rem 0 0;
    overflow: hidden;
}
.header__dark-mode button {
    margin: 0;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--colorTextWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
    background: none;
}
.header__dark-mode-btn--dark {
    animation: dark1 0.2s linear forwards;
}
.header__dark-mode-btn--light {
    animation: light1 0.2s linear forwards;
}
.header__auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__login-btn {
    width: fit-content;
    text-decoration: none;
    color: var(--colorTextWhite);
    cursor: pointer; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__user-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorTextWhite);
}
.header__user-icon {
    margin: 0 0.1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem , 1rem + 0.5vw, 1.2rem);
}
@keyframes dark1{
    0% {transform: translateY(-100%);}
    100% {transform: rotate(0%);}
}
@keyframes light1{
    0% {transform: translateY(-100%);}
    100% {transform: rotate(0%);}
}
@keyframes show {
    0%{
        opacity: 0;
        display: block;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hidden {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .header__filter-panel--visible {
        width: 50%; 
    }
    .header__auth span {
        display: none;
    }
}
@media screen and (max-width: 760px){
    .header {
        height: 16vh;
    }
    .header__mobile-menu {
        display: block;
    }
    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header__logo {
        height: fit-content;
        position: inherit;
    }
    .header__search-container {
        height: fit-content;
        position: inherit;
    }
    .header__search-input {
        display: absolute;
        top: 50%;   
        width: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
    .header__filter-panel--visible {
        width: 60%;   
        top: 16vh;
    }
    .header__user-section {
        top: 4.5vh;
        right: 3vw; 
        left: auto;
    }
    .header__language-menu--visible {
        left: 100%;
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 480px){
    .header__filter-panel--visible {
        width: 60%;   
    }
}
@media screen and (max-width: 360px){
    
}


